<h1>Greetings</h1>
{% if greeting_list %}
  <ul>
  {% for greeting in greeting_list %}
    <li>{{ greeting.message }}</li>
    <a href="{% url 'greetings:update' greeting.id %}">edit</a>
    <a href="{% url 'greetings:delete' greeting.id %}">delete</a>
  {% endfor %}
  </ul>
{% else %}
  <p>No greetings at this time.</p>
{% endif %}
<a href="{% url 'greetings:create' %}">Create a New Greeting!</a>
<br><a href="{% url 'greetings:about' %}">Click Here to Know More</a>
<p>


</p>
<img src="https://www.meme-arsenal.com/memes/0ed415faab435959b993c01576c566dd.jpg" alt="Greetings meme" width="300" height="200">